body {
    margin: 0;
    padding:0;
    /*font-family: 'san-serif';*/
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
}

.border-green {border:1px solid green;}
.border-red {border:1px solid red;}
.border-blue {border:1px solid blue;}
.border-yellow {border:1px solid yellow;}
.border-purple {border:1px solid purple;}

.sidebar-container {
    width: 200px;
    height: 100%;
    background: dimgrey;
    position: fixed;
}

.app-main {
    display: flex;
    position: absolute;
    top:0; bottom:0; left: 0; right:0;
    /*background: lightgrey;*/
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: row nowrap;
}

.app-sidebar {
    width: 100px;
    min-width: 100px;
    max-width: 280px;
    height: 100%;
    /*background-color: black;*/
    border-right: 1px solid #dee2e6;
    flex-direction: column;
}
.app-main-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.app-header {
    min-height: 70px;
    z-index: 99;
    position: relative;
}

.app-main-header {
    width: auto !important;
    border-bottom: 1px solid #dee2e6;
}
.app-toolbar {
    min-height: 70px;
}
.app-toobar .tools-box {
    width: auto;
}
.app-toobar .tools-box .search-box {
    width: 300px !important;
}
.app-toolbar .tools-box .user-box {
    width:40px;
    height:40px;
}
.app-toolbar .tools-box .user-box .user-avathar-link {
     width:40px;
     height:40px;
     border-radius: 50%;
}
.app-toolbar .tools-box .user-box .user-avathar-link .img {
    border-radius: 50%;
}
.app-toolbar .tools-box .search-box .form-control {
    width:300px;
}
.header-notify {
    /*margin-top:8px;*/
    width:250px;
}
.header-notify >li .user-avathar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.app-main-content {
    width: 100%;
    height: calc(100vh - 71px) !important;
    background: #f6f6f6;
}
.content-left {
    width: 100%;
    height: 100%;
}
.content-right {
    width: 350px;
    min-width:250px;
    max-width: 350px;
    margin-bottom: 2px;
    height: 100%;
}
.content-right .header {
    min-height: 64px;
}
.content-right .header .title-box .title {
    font-size: 16px;
}
.actions-box .btn {
    font-size:12px;
    background: transparent;
}

.actions-box .btn.icon-plus  {
    color: #7eb73d;
    border: 1px solid #7eb73d;
}
.actions-box .btn.icon-plus:hover {
    background:  #7eb73d;
    color: #fff;
    border: 1px solid #7eb73d;
}
.actions-box .icon-save {
    color: #03a9f4;
    border: 1px solid #03a9f4;
}
.actions-box .icon-save:hover {
    background: #03a9f4;
    color: #fff;
    border: 1px solid #03a9f4;
}
.actions-box .icon-trash {
    color: #f44336;
    cursor: pointer;
}
.actions-box .icon-edit {
    color: #7eb73d;
    cursor: pointer;
}

.content-right .card-line-item {
    width:100%;
    min-height: 400px;
    border-radius: 0;
    border: none;
    position: relative;
}
.content-right .card-line-item label.card-title {
    margin-bottom: 0;
    font-weight: 700;
}


.app-form {}

.app-form .form-control {
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid #efefef;
}

.app-form .form-control.form-control#description {
    resize: none;
    outline: none;
} 

.app-form.form-disabled input.form-control:disabled{
    border-bottom: 0;
    background: transparent;
}
.app-form.form-disabled textarea:disabled{
    border-bottom: 0;
    background: transparent;
}
.search-box {
    background: #fff;
    padding: 10px 15px;
    font-size: 12px;
    margin-left: auto;
}

.search-box .input-group .input-group-prepend .input-group-text {
    background: transparent;
    border: 0;
    font-size: 12px;
}
.search-box .input-group .form-control {
    border:0;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    font-size: 12px;
}
.search-box .input-group input.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid #7eb73d;
}

.add-list-elements {
    background: #fff;
    padding: 20px 0px;
    margin-top:5px;
    font-size: 12px;
    height: calc(100% - 63px);
}
.add-list-elements .list-group .list-group-item {
    border: 0;
    border-radius: 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.125);
    padding:0;
    margin-top:2px;
}
.add-list-elements .list-group .list-group-item .check-box{
    cursor: pointer;
}
.add-list-elements .list-group .list-group-item .check-box .fas{
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}
.add-list-elements .list-group .list-group-item .check-box .fa-square {
    color: #dddddd;
}
.add-list-elements .list-group .list-group-item .check-box .fa-check-square {
    color: #7eb73d;
}
.add-list-elements .list-group .list-group-item .content-box {
    padding-left:10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.add-list-elements .list-group .list-group-item .content-box label {
    margin-right:10px;
    font-weight: 600;
}
.search-bar {
    margin-right: auto;
    max-width: 320px;
    width: 300px;
}
.search-bar .form-group {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.full-height{
    height: 100%;
}
.scroller{
    overflow-x: hidden;
    overflow-y: auto;
}    
.item-area{
    height: calc(100% - 64px);
}
.sort-select{
    height: 70px;
    padding: 18px 2px;
}
.list-cover{
    float: left;
    display: block;
    height: 100%;
}
.list-table{
    height: calc(100% - 70px);
}
.p-datatable-scrollable, .p-datatable-scrollable-wrapper, .p-datatable-scrollable-view{
    height: 100%;
}
.p-datatable-scrollable-body{
    height: calc(100% - 37px);
}



























.react-autosuggest__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.react-autosuggest__input {
    width: 240px;
    border: 0;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    font-size: 12px;
    padding: .25rem .5rem;
}

.react-autosuggest__input--focused {
    outline: none;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid #7eb73d;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 30px;
    width: 240px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    margin: 5px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}


